* {
    font-family: 'Chalkboard', sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

section {
    position: relative;
    padding: 15px;
    width: 100%;
}

div {
    position: relative;
    background-color: blanchedalmond;
    border: 1px solid black;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    overflow: hidden;
}

p {
    width: 90%;
    margin: 30px auto 20px;
}

.title {
    font-weight: bold;
    font-size: 130%;
    position: absolute;
    border: 1px solid black;
    text-align: center;
    margin-top: -1px;
    margin-right: -1px;
    width: 100px;
    top: 0;
    right: 0;
    clear: left;
}

p#chicken {
    background-color: darksalmon;
}

p#beef {
    background-color: olive;
    color: aliceblue;
}

p#sushi {
    background-color: goldenrod;
}

@media (min-width: 992px) {
   .col-lg-4 {
       float: left;
       width: 33.33%;
   }
}

@media (max-width: 991px) and (min-width: 768px) {
   .col-md-6 {
       float: left;
       width: 50%;
   }
    .col-md-12 {
        float: left;
        width: 100%;
    }
}